@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
  background-color: #f5f5f5;
}

.slick-slide {
  padding: 0 10px; /* Adjust the spacing as needed */
}

.slick-list {
  margin: 0 -10px; /* This compensates for the padding to align the slides correctly */
}

.slick-prev,
.slick-next {
  z-index: 1;
  font-size: 30px;
  color: black;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  color: black;
}

/* Optional: Add background and border to arrows */
.slick-prev,
.slick-next {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 5px;
}

/* Adjust arrow positions */
.slick-prev {
  left: -40px; /* Adjust as needed */
  color: transparent;
}

.slick-next {
  right: -40px; /* Adjust as needed */
  color: transparent;
}

.active {
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  color: white;
}
